<style>
    th,
    td,
    tr {
        padding: 5px;
        text-align: center !important;
    }
</style>
<div class="page-body ">



    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>داشبورد

                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">داشبورد</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>





    <div class="col-xl-12 xl-100 mt-7">

        <div class="card">
            <div class="card-header">

                <div class="text-center mt-7 row   ">


                    @* add car to categoris *@

                    <h5 class="text-center">شهر انتخاب شده : @{
                        if (ViewBag.City != null)
                        {
                            <span>@ViewBag.City.CityName</span>
                        }
                        else
                        {
                            <span>شهری انتخاب نشده است</span>
                        }
                                                }
                    </h5>

                    @* create table show list car row  car name  and edit and delete *@

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام شهر یا منطقه</th>

                                    <th>انتخاب</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>بدون شهر</td>
                                    <td><a href="/admin/home/citySelect?id=0" class="btn btn-danger"
                                            onclick="return confirm('ایا از انتخاب مطمئن هستید ')">انتخاب</a></td>
                                </tr>
                                @foreach (var item in ViewBag.listcities)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CityName</td>
                                        <td><a href="/admin/home/citySelect?id=@item.Id" class="btn btn-danger"
                                                onclick="return confirm('ایا از انتخاب مطمئن هستید ')">انتخاب</a></td>
                                    </tr>
                                }

                            </tbody>

                        </table>

                    </div>





                </div>

            </div>
        </div>

    </div>