<style>
  img {
    border: 5px;
  }


  .cta-text:hover {

    transform: scale(1.1);
    transition: 0.5s;


    background-color: #d10d0dfa;

  }
</style>



<div class="page-content-wrapper py-3 p-3">


  <div class="container mt-3 ">
    <div class="cta-text p-2 p-lg-4">
      <div class="row p-lg-2">
        <div class="col-12">
          @if (@ViewBag.Mondeh == 0)
          {
            <h6 class="text-white m-3  text-center " style="line-height: 30px;">تبریک می گوییم شما هم اکنون میتوانید از یک
              سرویس رایگان استفاده کنید</h6>
          }
          else
          {

            <h6 class="text-white m-3  text-center"> تعداد مانده تا اسید شویی رایگان @{
                if (ViewBag.description != null)
                {
                  <span>و پاداش شما</span>
                }
              } : @ViewBag.Mondeh
            </h6>

          }
        </div>

      </div>
    </div>
  </div>
  @if (ViewBag.description != null)
  {
    <div class="container mt-3 ">
      <div class="cta-text p-2 p-lg-4">
        <div class="row p-lg-2">
          <div class="col-12">
            <h6 class="text-white m-3  text-center"> پاداش و جایزه اختصاصی شما : @ViewBag.description </h6>
          </div>

        </div>
      </div>
    </div>
  }
  <div>

    <div class="container mt-3 " OnClick="redirecttolist()">
      <div class="cta-text p-2 p-lg-4">
        <div class="row p-lg-2">
          <div class="col-12">
            <h6 class="text-white m-3  text-center"> مشاهده سابقه خدمات </h6>
          </div>

        </div>
      </div>
    </div>
    <div>

      <div>
        <div class="container mt-3 ">
          <div class="cta-text p-2 p-lg-4">
            <div class="row p-lg-2">
              <div class="col-12">
                <h6 class="text-white m-3  text-center"> سود شما تاکنون : @ViewBag.Sum ریال </h6>
              </div>

            </div>
          </div>
        </div>
        <div>
          <div>






            <!-- Dark Mode -->
            <div class="container">
              <div class="dark-mode-wrapper mt-3 bg-img p-4 p-lg-5">
                <div class="form-check form-switch mb-0">
                  <label class="form-check-label text-white h6 mb-0" for="darkSwitch">به حالت تاریک بروید</label>
                  <input class="form-check-input" id="darkSwitch" type="checkbox" role="switch">
                </div>
              </div>


              <div class=" row">

                <div class="container mt-3 " OnClick="redirect(1)">
                  <div class="cta-text p-2 p-lg-4"
                    style="background: linear-gradient(to left,#64317e, #64317e) !important;">
                    <div class="row p-lg-2">
                      <div class="col-12">
                        <h6 class="text-white m-3  text-center"> درخواست شستشوی فوری </h6>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="container mt-3 " OnClick="redirectToMenus()">
                  <div class="cta-text p-2 p-lg-4"
                    style="background: linear-gradient(to left,#64317e, #64317e) !important;">
                    <div class="row p-lg-2">
                      <div class="col-12">
                        <h6 class="text-white m-3  text-center"> مشاهده لیست خدمات </h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container mt-3" onclick="redirectToShowCard()">
                  <div class="cta-text p-2 p-lg-4"
                    style="background: linear-gradient(to left, #cd0450, #cd0450) !important;">
                    <div class="row p-lg-2">
                      <div class="col-12">
                        <h6 class="text-white m-3 text-center">مشاهده شماره کارت ها</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container mt-3 " onclick="call()">
                  <div class="cta-text p-2 p-lg-4"
                    style="background: linear-gradient(to left,#cd0450, #cd0450) !important;">
                    <div class="row p-lg-2">
                      <div class="col-12">
                        @{
                          string n = $"tel:{ViewBag.n1}";
                          <a href=@n>
                            <h6 class="text-white m-3  text-center"> تماس فوری 1</h6>
                          </a>
                        }



                      </div>

                    </div>
                  </div>
                </div>
                <div class="container mt-3 " onclick="call()">
                  <div class="cta-text p-2 p-lg-4"
                    style="background: linear-gradient(to left,#cd0450, #cd0450) !important;">
                    <div class="row p-lg-2">
                      <div class="col-12">
                        @{
                          string m = $"tel:{ViewBag.n2}";
                          <a href=@m>
                            <h6 class="text-white m-3  text-center"> تماس فوری 2</h6>
                          </a>
                        }

                      </div>

                    </div>
                  </div>
                </div>
                <div>




                </div>



                <script>
                  function redirectToShowWalet() {
                    window.location.href = "/home/ShowWalet";
                  }
                </script>

                <script>
                  function redirectToShowCard() {
                    window.location.href = "/home/ShowCard";
                  }
                </script>

                <br>
                @* <div class="">
                <div class="cta-text p-2 ">
                <div class="row p-lg-2">
                <div class="col-6">
                <h6 class="text-white m-3 "> مشاهده امتیاز ها </h6></div>
                <div class="col-6">
                <a class="btn btn-warning m-3" href="/home/viewrate"> کلیک کن </a></div>

                <div></div>
                </div>
                </div> *@
              </div>





            </div>
            <!-- Internet Connection Status-->
            <div class="internet-connection-status" id="internetStatus"></div>

            <script>

              function redirect(id) {
                window.location.href = `/home/cat/${id}`;
              }
              function redirectToMenus() {
                window.location.href = `/home/Menus`;
              }

              function redirecttolist() {
                window.location.href = "/home/request";
              }



            </script>